html {
	height: 100%;
}

body {
	position: relative;
	background: #197652;
	height: 100%;
	overflow: hidden;
	margin: 0px;
}

.main-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 100%;
	max-width: 900px;
}

header {
	position: absolute;
	display: block;
	top: 0px;
	font-family: Arial;
	font-size: larger;
	color: white;
	opacity: 0.6;
	background: #000;
	width: 100%;
	padding: 10px;
	z-index: 1;
}

header .seperator {
	display: inline-block;
	margin: 0px 20px;
}

header .seperator:after {
	content: "·";
}

header .links {
	display: inline;
	position: relative;
}

header a {
	font-family: Arial;
	font-size: large;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

header a:hover {
	text-decoration: underline;
}

footer {
	position: absolute;
	display: block;
	bottom: 0px;
	font-family: Arial;
	font-size: small;
	color: white;
	opacity: 0.6;
	background: #000;
	width: 100%;
	padding: 10px;
}

footer a {
	font-family: Arial;
	font-size: small;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 690px) {
  header .seperator {
    display: none;
  }
 
  header .links {
  	display: block;
  	margin-top: 6px;
  }
  
  header .links .seperator {
    display: inline-block;
  }
  
  header .links a {
  	font-size: medium;
  }
}